<!-- <ul>
    <li *ngFor="let item of lista">
      <h2>{{ item.tarefa.titulo }}</h2>
      <p>{{ item.tarefa.descricao }}</p>
      <p>Prioridade: {{ item.tarefa.prioridade }}</p>
      <p>Data limite: {{ item.tarefa.deadline }}</p>
      <p>Concluído: {{ item.tarefa.concluido ? 'Sim' : 'Não' }}</p>
  
      <div *ngIf="item.usuario">
        <h3>Usuário responsável:</h3>
        <p>{{ item.usuario.nome }}</p>
        <p>{{ item.usuario.email }}</p>
      </div>
    </li>
    *ngFor="let item of lista"
  </ul> -->

  <table class="table">
    <thead>
      <tr *ngIf="lista">
        <th scope="col">Tarefa</th>
        <th scope="col">Descrição</th>
        <th scope="col">Prioridade</th>
        <th scope="col">Data Limite</th>
        <th scope="col">Status</th>
        <th scope="col">Responsável</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista">
        <td>{{ item.tarefa.titulo }}</td>
        <td>{{ item.tarefa.descricao }}</td>
        <td>{{ item.tarefa.prioridade }}</td>
        <td>{{ item.tarefa.deadline }}</td>
        <td>{{ item.tarefa.concluido ? 'Tarefa concluída' : 'Tarefa não concluída' }}</td>
        <td>{{ item.usuario.nome }}</td>
        <td>
          <div class="btn-group" role="group">
            <button class="btn btn-danger" (click)="remover(item.tarefa.titulo)">Excluir</button>
            <button *ngIf="!item.tarefa.concluido" class="btn btn-warning" (click)="editar(item.tarefa.titulo)">Editar</button>
            <button *ngIf="!item.tarefa.concluido" class="btn btn-success" (click)="concluir(item.tarefa.titulo)">Concluir</button>
          </div>
        </td>
      </tr>
    </tbody>
    <a routerLink="/criar-tarefa">cadastrar uma nova</a>
  </table>
  <div class="alert alert-danger" style="display: none;" role="alert">
    A simple danger alert—check it out!
  </div>